body {
    background-color:black;
    height: 100vh; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-repeat:no-repeat;
    background-size:100%;
    color:white
}